<!doctype html>
{% extends "layout.html" %}
{% load static %}
{% block content %}
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Finest And <br>
                                Strongest Law <br>
                                Firm Win The World</h1>
                            <p></p>
                            <div class="banner_btn">
                                <a href="{% url 'contact' %}" class="btn_1">More About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- about part start-->
    <section class="about_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>The lawyers truth is not truth but consistency
                            or a consistent expediency</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-sm-7">
                    <div class="about_part_img">
                        <img src="{% static 'img/about_1.png' %}" alt="#">
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 d-none d-sm-block">
                    <div class="about_part_img">
                        <img src="{% static 'img/about_2.png' %}" alt="#">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_text text-center">
                        <p>Fly seed a it hath own light deep our meat land bearing won bring you two
                            were together divide set kind stars firmament evning from forth seas let
                            air whales which of gathering be sixth. Seed won't. Creature she'd living
                            said blessed. Rule plac also seasons was itself of for days subdue
                            great own male itsel</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end-->

    <!-- Service part start-->
    <section class="service_part section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_text">
                            <span class="flaticon-law"></span>
                            <h2>Get Law Advice</h2>
                            <p>Over their the abund every placed thing them them winged you beginning forth</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_text">
                            <span class="flaticon-scale"></span>
                            <h2>Review The Case</h2>
                            <p>Over their the abund every placed thing them them winged you beginning forth</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_text">
                            <span class="flaticon-siren"></span>
                            <h2>Winning Guarantee</h2>
                            <p>Over their the abund every placed thing them them winged you beginning forth</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_text">
                            <span class="flaticon-policeman"></span>
                            <h2>Fully Suppport</h2>
                            <p>Over their the abund every placed thing them them winged you beginning forth</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service part end-->

    <!-- team_part part start-->
    <section class="team_part our_offer section_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Meet Our Attorneys</h2>
                        <p>Over their the abundantly every midst place thing them them winged you're
                            beginning forth you. Fruit seas very does can after herb moved so was Kind </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="{% static 'img/nvramana.jpg' %}" alt="offer_img_1">
                            <div class="hover_text">
                                <p>nvramana@nyayadhwani.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>

                        </div>
                        <div class="team_member_info">
                            <h4>N.V Ramana</h4>
                            <p>Crime Lawyer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="{% static 'img/lnrao.png' %}" alt="offer_img_1">
                            <div class="hover_text">
                                <p>lnrao@nyayadhwani.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="team_member_info">
                            <h4>L.N Rao</h4>
                            <p>Finance Lawyer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="{% static 'img/uday.png' %}" alt="offer_img_1">
                            <div class="hover_text">
                                <p>udayumesh@nyayadhwani.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>

                        </div>
                        <div class="team_member_info">
                            <h4>Uday Umesh</h4>
                            <p>Crime Lawyer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team_part part end-->

    <!-- cta_part part start-->
    <section class="cta_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="cta_text">
                        <h2>Their was of wherein darkness tree them own it firmament
                            fourth you whose void grass gree</h2>
                        <a href="{% url 'contact' %}" class="cta_btn">Request Free Consultation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta_part part end-->


    {% endblock content %}
   
