<!doctype html>
{% extends "layout.html" %}
{% load static %}
{% block content %}
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Our Service</h2>
                            <p>home <span>//</span>Service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


    <!-- servicing start-->
    <section class="single_service section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Practice Areas</h2>
                        <p>Over their the abundantly every midst place thing them them winged you're
                            beginning forth you. Fruit seas very does can after herb moved so was Kind </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_single_service">
                        <img src="{% static '' %}img/icon/service_1.svg" alt="#">
                        <h4>Banking & Finance</h4>
                        <p>Trusted legal expertise in navigating the complexities of banking and finance laws.
                            Tailored solutions for your financial needs with our dedicated legal team.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_single_service">
                        <img src="{% static '' %}img/icon/service_2.svg" alt="#">
                        <h4>Family Law</h4>
                        <p>Compassionate guidance and strong advocacy in matters of family law.
                            Protecting what matters most with our comprehensive family law services.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_single_service">
                        <img src="{% static '' %}img/icon/service_3.svg" alt="#">
                        <h4>Insurance Law</h4>
                        <p>Insightful legal strategies to safeguard your rights in insurance disputes.
                            Efficient resolution of insurance law challenges with our experienced attorneys.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_single_service">
                        <img src="{% static '' %}img/icon/service_4.svg" alt="#">
                        <h4>Ecommerce Law</h4>
                        <p>Streamlined legal support for navigating the dynamic landscape of ecommerce.
                            Ensuring compliance and growth in ecommerce ventures with our legal expertise.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_single_service">
                        <img src="{% static '' %}img/icon/service_5.svg" alt="#">
                        <h4>Crime Law</h4>
                        <p>Aggressive defense and strategic counsel for all criminal law matters.
                            Protecting your rights and securing justice through experienced criminal defense.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_single_service">
                        <img src="{% static '' %}img/icon/service_6.svg" alt="#">
                        <h4>Banking & Finance</h4>
                        <p>After creeping two life sea green which face yielding gat ered was after
                            also upon blessed under whose abdantly one very to let his</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- servicing end-->




{%endblock%}