

body {
    background-image: url(../img/still-life-with-scales-justice.jpg );
    background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }