{% extends "layout.html" %}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<section>
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center">All Cases</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="object-datatable" class="table table-bordered table-fit">
                        <thead class="table-dark">
                          <tr class="text-center">
                            <th class="col-1">Case<br>Number</th>
                            <th class="col-1">Client <br>Name</th>
                            <th class="col-2">Description</th>
                            <th class="col-1">Court</th>
                            <th class="col-1">Date of <br>Hearing</th>
                            <th class="col-1">Active</th>
                            <th class="col-1">Status</th>
                            <th class="col-1">Actions</th>
                          </tr>
                        </thead>

                        <tbody>
                          <div class="d-flex align-items-center">
                            {% for object in object_list %}
                                <tr class="text-center">
                                    <td class="col-1">{{ object.case_id}}</td>
                                    <td class="col-1">{{ object.client_id}}</td>
                                    <td class="col-1">{{ object.Description }}</td>
                                    <td class="col-1">{{ object.court_name }}</td>
                                    <td class="col-1">{{ object.Date_of_hearing}}</td>
                                    <td class="col-1">{{ object.Active }}</td>
                                    <td class="col-1"><h4><span class="{% if object.status == 'won' %}badge badge-success rounded-pill d-inline w-100 {% elif object.status == 'ongoing' %}badge badge-warning rounded-pill d-inline w-100 {%else%}badge badge-danger rounded-pill d-inline w-100{% endif %}">{{ object.status }}</span></h4> </td>
                                    
                                    <td class="col-2"><a href="{% url 'dashboard:case-view' object.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> View </a>     
                                        
                                    <a href="{% url 'dashboard:case-edit' object.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>Edit</a></td>
                                  </tr>
                            {% endfor %}
                          </div>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
</section>
{% endblock content%}